{{outlet}}
<br/><br/>

<div class="input-group"> <span class="input-group-addon">Filter</span>
  <input id="filter" type="text" class="form-control" placeholder="Filter Timezones">
</div>

<h3>Timezones</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Abbr</th>
      <th>Name</th>
      <th>City</th>
      <th>Current Time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="searchable">
  {{#each model as |timezone|}}
    <tr>
      <td>{{timezone.abbr}}</td>
      <td>{{timezone.name}} </td>
      <td>{{timezone.city}} </td>
      <td>GMT {{timezone.sign}}{{timezone.hours}}:{{timezone.minutes}}</td>
      <td>{{#link-to "timezones.show" timezone.id class="btn btn-xs btn-primary"}}Show{{/link-to}}</td>
      <td>{{#link-to "timezones.edit" timezone.id class="btn btn-xs btn-info"}}Edit{{/link-to}}</td>
      <td><button {{ action "deleteTimezone" timezone.id }} class="btn btn-xs btn-danger">Delete</button></td>
    </tr>
  {{/each}}
  </tbody>
</table>
